mvc-database/__recovery/

mvc-database/Win32/
mvc-database/__history/*

mvc-database/Sources/__history/*
mvc-database/Test/Win32/**/*
mvc-database/Test/__history/**/*
mvc-database/Test/__recovery/**/*
sonar-scanner/*

mvc-database/Test/Win32/Debug/Project1UnitTests.exe
mvc-database/.scannerwork/.sonar_lock

**/*.dcu
**/*.exe