mvc-database/__recovery/

mvc-database/Win32/
mvc-database/__history/*

mvc-database/Sources/__history/*
mvc-database/Test/Win32/**/*
mvc-database/Test/__history/**/*
mvc-database/Test/__recovery/**/*
sonar-scanner/*

mvc-database/Test/Win32/Debug/Project1UnitTests.exe
mvc-database/.scannerwork/.sonar_lock

**/*.dcu
**/*.exe
mvc-database/.scannerwork/report-task.txt
qr-builder/qr-builder-demo/__history/Unit2.dfm.~4~
qr-builder/qr-builder-demo/__history/Unit2.dfm.~5~
qr-builder/qr-builder-demo/__history/Unit2.dfm.~6~
qr-builder/qr-builder-demo/__history/Unit2.dfm.~7~
qr-builder/qr-builder-demo/__history/Unit2.dfm.~8~
qr-builder/qr-builder-demo/__history/Unit2.dfm.~9~
qr-builder/qr-builder-demo/__history/Unit2.dfm.~10~
qr-builder/qr-builder-demo/__history/Unit2.dfm.~11~
qr-builder/qr-builder-demo/__history/Unit2.dfm.~12~
qr-builder/qr-builder-demo/__history/Unit2.dfm.~13~
qr-builder/qr-builder-demo/__history/Unit2.pas.~5~
qr-builder/qr-builder-demo/__history/Unit2.pas.~6~
qr-builder/qr-builder-demo/__history/Unit2.pas.~7~
qr-builder/qr-builder-demo/__history/Unit2.pas.~8~
qr-builder/qr-builder-demo/__history/Unit2.pas.~9~
qr-builder/qr-builder-demo/__history/Unit2.pas.~10~
qr-builder/qr-builder-demo/__history/Unit2.pas.~11~
qr-builder/qr-builder-demo/__history/Unit2.pas.~12~
qr-builder/qr-builder-demo/__history/Unit2.pas.~13~
qr-builder/qr-builder-demo/__history/Unit2.pas.~14~
qr-builder/qr-builder-pkg/base/__history/uHasSnapShotAttribute.pas.~1~
qr-builder/qr-builder-pkg/base/__history/uQRComponentSnapshot.pas.~2~
qr-builder/qr-builder-pkg/base/__history/uQRComponentSnapshot.pas.~3~
qr-builder/qr-builder-pkg/base/__history/uQRMouseBehavior.pas.~1~
qr-builder/qr-builder-pkg/base/__history/uQRMouseBehavior.pas.~2~
qr-builder/qr-builder-pkg/base/__history/uQRMouseBehavior.pas.~3~
qr-builder/qr-builder-pkg/quickreports/__history/uQRHoverBand.pas.~1~
qr-builder/qr-builder-pkg/quickreports/__history/uQRHoverBand.pas.~2~
qr-builder/qr-builder-pkg/quickreports/__history/uQRHoverBand.pas.~3~
qr-builder/qr-builder-pkg/quickreports/__history/uQRHoverDBText.pas.~1~
qr-builder/qr-builder-pkg/quickreports/__history/uQRHoverDBText.pas.~2~
qr-builder/qr-builder-pkg/quickreports/__history/uQRHoverLabel.pas.~1~
qr-builder/qr-builder-pkg/quickreports/__history/uQRHoverLabel.pas.~2~
qr-builder/qr-builder-pkg/quickreports/__history/uQRHoverLabel.pas.~3~
qr-builder/qr-builder-pkg/quickreports/__history/uQRHoverLabel.pas.~4~
qr-builder/qr-builder-pkg/quickreports/__history/uQRHoverRichText.pas.~1~
qr-builder/qr-builder-pkg/quickreports/__history/uQRHoverRichText.pas.~2~
qr-builder/qr-builder-pkg/quickreports/__history/uQRHoverRichText.pas.~3~
qr-builder/qr-builder-pkg/quickreports/__history/uQRHoverRichText.pas.~4~
qr-builder/qr-builder-pkg/quickreports/__history/uQRHoverRichText.pas.~5~
